* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c9e8ff;
}

/* Header.js styles */

.Header {
  align-items: center;
  background-color: #03375e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
}

.Header .Logo {
  font-size: 18px;
  font-weight: bold;
}

.Header nav {
  display: flex;
}

.Header nav a {
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
  padding: 2px 10px;
  text-decoration: none;
}

.Header nav a:hover {
  border-bottom: white solid 2px;
}

.Header nav a:last-child {
  margin-right: 0;
  padding-right: 0;
}

/* Landing.js styles */
.LandingContent {
  display: grid;
  grid-template-areas:
    "title title title title title title"
    ". description description prompt . ."
    ". description description link . .";
  margin: 0 10%;
}

.LandingContent h2 {
  display: flex;
  grid-area: title;
  justify-content: center;
  padding: 5% 0 15% 0;
}

.LandingDesc {
  grid-area: description;
  line-height: 2em;
  margin-left: 10%;
  max-width: 50%;
  text-align: center;
}

.LandingPrompt {
  display: flex;
  grid-area: prompt;
  justify-content: center;
}

.LandingContent a {
  display: flex;
  grid-area: link;
  justify-content: center;
}
